<h1><%= params[:category] %></h1>
<% if @books.count == 0 %>
<h2> There are currently no books in this category. You can add if you'd like.</h2>
<% else %>
<div id="books">
  <% @books.each do |book| %>
    <h2> <%= link_to book.title, book_path(book) %> </h2>
  <% end %>
  <% end %>

</div>

<%= link_to "New book", new_book_path %>
