.category_nav{
    width: 100%;
    background: black;
    overflow: auto;
}
ul{
    padding: 0;
    margin: 0 0 0 100px;
    list-style: none;
}

li{
    float: left;
    margin-right: 10px;
}

.category_nav a{
    width: 100px;
    display: block;
    padding: 30px 3px;
    margin-right: 10px;
    margin-left: 5px;
    text-decoration: none;
    font-family: Arial;
    color: aliceblue;
    text-align: center;
    white-space: nowrap;
}

.category_nav a:hover{
 background: #ffb703;
 transition: 0.5s;
}
.category_nav a:active {
background: #ffb703;
}

#books {
    padding: 15px;
    margin: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .book {
    margin: 15px;
    width: 250px;
    margin-bottom: 20px; 
  }

  .book img {
    width: 250px;
  height: 350px;
  box-shadow: -5px 0 8px -5px rgba(0, 0, 0, 0.5), 5px 0 5px -5px rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
  border: 2px solid grey;
  border-radius: 20px ;
  }

  .book-image:hover {
    opacity: 0.7;
  }

  .heading{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: fantasy;
    font-size: 60px;
    background: #ffb703;
  }

  .heading1{
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    background: #ffb703;
  }

  .message{
    padding: 30px;
    text-align: center;
    color: green;
    font-size: 30px;
    font-family: cursive;
  }

  .notice{
    font-size: 30px;
    text-align: center;
    background: #70e000;
    color: white;
    /* border: 2px solid #006400; */
  }

  
  .alert{
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
    background: red;
    color: white;
  }

  .book-image {
    height: 500px;
    width: 375px;
  }

  .average-rating {
    font-size: 27px;
    color: #FFA500;
  }

  .review-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-icon {
    font-size: 30px;
    margin: 12px 12px 12px 230px;
  }
  
  .book-info-container {
    display: flex;
    flex-direction: column;
  }

  .book-image-container {
    margin-right: 20px;
  }
  .book-description {
    flex: 1;
  }


  @media (max-width: 1400px) {
    .navbar-2 {
      display: none;
    }
  }
  

  /* .book-image-container {
    position: relative;
    padding-bottom: 100%; 
  }
  
  .book-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .book-description {
    width: 100%;
  } */