<% if notice %>
<div class="notification is-success">
<p class = "notice"><%= notice %></p>
</div>
<% end %>
<% if alert %>
<div class="notification is-danger">
<p class = "alert"><%= alert %></p>
</div>
<% end %>